vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Feb 2014 16:56:36 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|Resources.htm
vti_author:SR|OMCLIENT1\\User
vti_modifiedby:SR|OMCLIENT1\\User
vti_timecreated:TR|04 Feb 2014 16:56:36 -0000
vti_cacheddtm:TX|04 Feb 2014 16:56:36 -0000
vti_filesize:IR|160
