vti_encoding:SR|utf8-nl
vti_author:SR|OMCLIENT1\\User
vti_modifiedby:SR|OMCLIENT1\\User
vti_timelastmodified:TR|09 Feb 2014 20:42:29 -0000
vti_timecreated:TR|09 Feb 2014 20:42:29 -0000
vti_cacheddtm:TX|09 Feb 2014 20:42:32 -0000
vti_filesize:IR|85
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|share.php
