vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Dec 2013 18:46:54 -0000
vti_extenderversion:SR|12.0.0.6500
vti_backlinkinfo:VX|
vti_author:SR|OMCLIENT1\\User
vti_modifiedby:SR|OMCLIENT1\\User
vti_timecreated:TR|03 Feb 2014 13:31:48 -0000
vti_cacheddtm:TX|03 Feb 2014 13:31:48 -0000
vti_filesize:IR|4477
vti_cachedlinkinfo:VX|S|SpryMenuBarRight.gif S|SpryMenuBarRightHover.gif
vti_cachedsvcrellinks:VX|FSUS|SpryAssets/SpryMenuBarRight.gif FSUS|SpryAssets/SpryMenuBarRightHover.gif
