vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Dec 2013 15:34:30 -0000
vti_extenderversion:SR|12.0.0.6500
vti_author:SR|OMCLIENT1\\User
vti_modifiedby:SR|OMCLIENT1\\User
vti_timecreated:TR|19 Dec 2013 15:34:30 -0000
vti_cacheddtm:TX|19 Dec 2013 15:34:30 -0000
vti_filesize:IR|973
vti_cachedlinkinfo:VX|S|../_assets/img/newyork.jpg S|../_assets/img/buenosaires.jpg S|../_assets/img/paris.jpg S|../_assets/img/capetown.jpg S|../_assets/img/seoul.jpg S|../_assets/img/sydney.jpg
vti_cachedsvcrellinks:VX|FSUS|demos/_assets/img/newyork.jpg FSUS|demos/_assets/img/buenosaires.jpg FSUS|demos/_assets/img/paris.jpg FSUS|demos/_assets/img/capetown.jpg FSUS|demos/_assets/img/seoul.jpg FSUS|demos/_assets/img/sydney.jpg
vti_backlinkinfo:VX|demos/swipe-page/capetown.html demos/swipe-page/index.html demos/swipe-page/newyork.html demos/swipe-page/seoul.html demos/swipe-page/sydney.html demos/swipe-page/paris.html demos/swipe-page/buenosaires.html
