<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<array>
		<dict>
			<key>modelId</key>
			<integer>4</integer>
			<key>name</key>
			<string>Kids</string>
			<key>uuid</key>
			<string>YJxxHkXfTJS8oM6MI837Xw</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>5</integer>
			<key>name</key>
			<string>Vacation</string>
			<key>uuid</key>
			<string>ps%BrY5PTFiFgX4V1HuXaw</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>6</integer>
			<key>name</key>
			<string>Birthday</string>
			<key>uuid</key>
			<string>YW+Romj4SMSxpMgbWV7FMA</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>3</integer>
			<key>name</key>
			<string>Family</string>
			<key>uuid</key>
			<string>dTodLGN0RTe8z3zJ4yfe6Q</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>1</integer>
			<key>name</key>
			<string>✔</string>
			<key>uuid</key>
			<string>dEX3gmGZRK6a4Ac8rwgk2w</string>
		</dict>
		<dict>
			<key>modelId</key>
			<integer>2</integer>
			<key>name</key>
			<string>Favorite</string>
			<key>uuid</key>
			<string>+ai7hqg4TryE9OXfEp%3Bw</string>
		</dict>
	</array>
	<key>keywords_version</key>
	<integer>7</integer>
</dict>
</plist>
