@import url(http://fonts.googleapis.com/css?family=Roboto:300);

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body, html{
  width: 100%;
  height: 100%;
}

#background{
  background: url("https://lorempixel.com/1920/1080/abstract");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

input{
  width: 300px;
}

#login{
  position: absolute;
  width: 300px;
  height: 300px;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

#textBox, #topText, #botText{
  padding: 15px;
  border: none;
 
  height: 60px;
}

  #textBox:focus, #topText:focus, #botText:focus{
    outline: none;
  }

#topText{
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  
  border-bottom: solid 1px #CCC;
}
#botText{
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}
#textBox{
  border-bottom: solid 1px #CCC;
}


#loginButton{
  height: 45px;
  
  border-radius: 10px;
  border: none;
  
  margin-top: 20px;
  background: #1BA7FF;
  color: #FFFFFF;
  transition: background .1s;
}
    #loginButton:active{
      background: #199DF0;
    }
    #loginButton:focus{
      outline: none;
    }

#signUp{
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  position: absolute;
  right: 0;
}
    #signUp:active{
      text-decoration: none;
    }