vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Feb 2014 13:31:42 -0000
vti_extenderversion:SR|12.0.0.6500
vti_author:SR|OMCLIENT1\\User
vti_modifiedby:SR|OMCLIENT1\\User
vti_timecreated:TR|03 Feb 2014 13:31:42 -0000
vti_cacheddtm:TX|03 Feb 2014 13:31:42 -0000
vti_filesize:IR|2696
vti_cachedlinkinfo:VX|S|http://www.me.com/1/slideshow/images/controls.png S|http://www.me.com/i/ma/1/spacer.gif S|http://www.me.com/i/ma/1/spacer.gif
vti_cachedsvcrellinks:VX|NSHS|http://www.me.com/1/slideshow/images/controls.png NSHS|http://www.me.com/i/ma/1/spacer.gif NSHS|http://www.me.com/i/ma/1/spacer.gif
vti_backlinkinfo:VX|iArcherCraft/Media/slideshow.html
